*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    background: var(--beige-50);
    color: var(--choco-700);
    min-height: 100vh;
    overflow-x: hidden;
}